{% extends 'base.html' %}

{% block head %}
<title>Add Contact</title>
{% endblock %}

{% block body %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact" class="active">Add</a></li>
    <li><a href="/about">About</a></li>
</ul>

<div class="content">
    <h1 style="text-align: center">Add Contact</h1>

    <div class="form">
        <form action="/contact" method="POST">
            <table style="border:none">
                <tr>
                    <td>First name</td>
                    <td><input type="text" name="first_name" id="first_name"></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td><input type="text" name="last_name" id="last_name"></td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td><input type="text" name="street" id="street"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" name="city" id="city"></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td><input type="text" name="state" id="state"></td>
                </tr>
                <tr>
                    <td>Zip</td>
                    <td><input type="text" name="zip" id="zip"></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td><input type="text" name="phone" id="phone"></td>
                </tr>
                <tr>
                    <td>eMail</td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td>Birthday (mm/dd/yyyy)</td>
                    <td><input type="text" name="birthday" id="birthday"></td>
                </tr>
            </table>
            <p></p>
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock %}