{% extends 'base.html' %}

{% block head %}
<title>Person Data</title>
{% endblock %}

{% block body %}
<ul>
  <li><a href="/" class="active">Home</a></li>
  <li><a href="/person">Add</a></li>
  <li><a href="/about">About</a></li>
</ul>

<div class="content">
  <h1 style="text-align: center">Persons</h1>

  {% if person|length < 1 %}
  <h4 style="text-align: center">There are no person. Create someone</h4> <a href="/person"><h4>here</h4></a>
  {% else %}
  <table>
    <tr>
      <th>Person</th>
      <th>Actions</th>
    </tr>
    {% for person in person %}
      <tr>
        <td><a href="/person/{{person.id}}">{{ person.firstName }} {{ person.lastName }}</a></td>
        <td>
          <a href="/delete/{{person.id}}">Delete</a>
          <br>
          <a href="/update/{{person.id}}">Update</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}