{% extends 'base.html' %}

{% block head %}
<title>Update Person</title>
{% endblock %}

{% block body %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/person">Add</a></li>
  <li><a href="/about">About</a></li>
</ul>

<div class="content">
  <h1 style="text-align: center">Person Detail</h1>

  <table style="border:none">
    <tr>
      <td>Name</td>
      <td>{{person.firstName}} {{person.lastName}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        {{person.street}}<br>
        {{person.city}} {{person.state}} {{person.zip}}
      </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{person.phone}}</td>
    </tr>
    <tr>
      <td>eMail</td>
      <td>{{person.email}}</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>
        {% if person.birthday is none %}

        {% else %}
          {{person.birthday.strftime('%m/%d/%Y')}}
        {% endif %}
      </td>
    </tr>
  </table>

  <div class="form">
    <form action="/update/{{person.id}}" method="GET">
      <input type="submit" value="Update">
    </form>
  </div>
</div>
{% endblock %}